.product-container{
    font-family: 'Montserrat', sans-serif !important;
}
.btn-add{
    background-color: rgb(0, 180, 180);
    border: none !important;
    margin-bottom: 10px;
}
.btn-update{
    background-color: rgb(55, 141, 5);
    border: none !important;
}
.btn-danger{
    background-color: rgb(194, 0, 0);
    border: none !important;
}