<nav class="navbar navbar-expand-sm navbar-light bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <!-- <a class="navbar-brand" href="#"><img src="https://i.ibb.co/VtJcs4q/D2PLogo.png" alt="D2P"></a> -->
             <a class="navbar-brand" href="#"><img src="https://i.ibb.co/TYBCsPT/output-onlinepngtools-5.png" alt="D2P"></a> 
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-md-10">
                    
            <div class="collapse navbar-collapse align-center collaps-nav" id="collapsibleNavId" >
              <ul class="navbar-nav mr-auto  mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/design2print/category">Category <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/design2print/producttype">Product Type</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/design2print/product">Product</a>
                </li>
                <li class="nav-item dropdown text-dark">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Options</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/sport/linkSport">Link Sport</a>
                    <a class="dropdown-item" routerLink="/sport/linkTournament">Link Tournament</a>
                    <a class="dropdown-item" routerLink="/sport/linkBetType">Link BetType</a>
                    <a class="dropdown-item" routerLink="/sport/batTypeMarket">Link BetType Market</a>
                  </div>
                </li>
                <li class="nav-item dropdown text-dark">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Linking Associations</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/sport/linkSport">Link Sport</a>
                    <a class="dropdown-item" routerLink="/sport/linkTournament">Link Tournament</a>
                    <a class="dropdown-item" routerLink="/sport/linkBetType">Link BetType</a>
                    <a class="dropdown-item" routerLink="/sport/batTypeMarket">Link BetType Market</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>

    </div>
  </div>

</div>