<div class="container producttype-container">
    <div class="row mt-2">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-add" data-toggle="modal" data-target="#modalId" (click)="setHeading()">Add Product Type</button>
        </div>
        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <ng-template [ngIf]="productTypeUpdate===null">Add Product Type</ng-template>
                            <ng-template [ngIf]="productTypeUpdate!=null">Update Product Type</ng-template>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setHeading()"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="" [formGroup]="productTypeForm">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label for="Product Type Name">Prouct Type Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="ProductTypeName" placeholder="Product Type Name" formControlName="ProductTypeName">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal-dismis" data-dismiss="modal" (click)="setHeading()">Close</button>
                        <button type="submit" class="btn btn-primary"  data-dismiss="modal"  (click)="onFormSubmit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Type Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="justify-content-center">
                <tr *ngFor="let producttype of productTypes">
                    <td>{{producttype.productTypeId}}</td>
                    <td>{{producttype.productTypeName}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteProductType(producttype.productTypeId)">Delete</button> |
                        <button type="button" class="btn btn-primary btn-update" data-toggle="modal" data-target="#modalId" (click)="updateProductType(producttype.productTypeId)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>